.page-index
	form
		margin: auto
			bottom: 90px
		width: 690px
	
	.word-list
		display: flex
		flex-wrap: wrap
		justify-content: space-around
		margin: auto
	
		.word
			margin: 10px
			width: 200px
	
			img
				display: block
				max-width: 100%