extends ../layouts/app

block variables
	- page = 'index'
	- title = 'Fortype'
	
block content
	form
		+text-field(type="search" id="search" label="Поиск по букве или слову")

	.word-list
		- var i = 1
	
		while i < 48
			a.word(href="javascript:void(0);")
				img(src="img/demo/words/#{i++}.jpg")