extends ../layouts/app

block variables
	- page = 'word-edit'
	- title = 'Редактирование слова | Fortype'
	
block content
	form
		header
			h2 Загрузите изображение
			.subtitle .jpg или .png

		header
			h2 Определите буквы
			.subtitle Обведите каждую букву, начиная с первой

		.form-actions
			.button-group.invalid
				button.button(type="submit" disabled) Сохранить
				.form-error Вы определили не все буквы
			a.pseudo-link(href="index.html") Отмена