extends ../layouts/app

block variables
	- page = 'word-edit'
	- title = 'Редактирование слова | Fortype'
	
block content
	.page-word-edit
		header
			h2 Загрузите изображение
			.subtitle .jpg или .png
		header
			h2 Определите буквы
			.subtitle Обведите каждую букву, начиная с первой