@font-face
	font-family: Raleway
	src: url('../fonts/Raleway-Regular.ttf')

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400italic&subset=latin,cyrillic)

$font-primary: 'Raleway', sans-serif
$font-secondary: 'Playfair Display', serif

$font-light: 300
$font-medium: 500

a
	color: $color-neutral
	text-decoration: none

	&:hover
		color: $color-active