*
	cursor: inherit

html
	background-color: $color-beige
	cursor: default
	font:
		family: $font-primary
		size: 14px
	padding: 30px 10px

a
	cursor: pointer
	
.header
	text-align: center
	
	.logo
		display: inline-block