@import main/header

*
	cursor: inherit

html
	$padding-bottom: 50px 
	
	background-color: $color-beige
	cursor: default
	font:
		family: $font-primary
		size: 15px
	padding: 30px 25px $padding-bottom

	.footer
		position: absolute
		left: 0
		right: 0
		bottom: $padding-bottom

a
	cursor: pointer

.header,
.footer
	font: italic 15px $font-secondary

.footer
	text-align: center