include ../ui/text-field

block variables

doctype html

html(ng-app="fortype")
	head
		link(rel="icon" href="img/favicon.ico")/
		link(rel="apple-touch-icon-precomposed" sizes="152x152" href="img/apple-icon.png")/
		
		meta(http-equiv="content-type" content="text/html; charset=UTF-8")/
		meta(name="viewport" content="width=device-width")/
		
		title= title
		
		link(href="css/app.css" rel="stylesheet")/
	
	body
		.fortype
			block header
				include app/header

			div(class="page-#{page}")
				block content

			block footer
				include app/footer
		
		block scripts
			script(src="//code.jquery.com/jquery-2.1.4.min.js")
			script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js")
			script(src="js/app.js")